/Solutrack.Notifications.Api/.vs/Solutrack.Notifications.Api/v15
/Solutrack.Notifications.Api/Solutrack.Notification.PushNotifications/bin/*.*
/Solutrack.Notifications.Api/Solutrack.Notifications.Api/bin
/Solutrack.Notifications.Api/Solutrack.Notifications.Api/obj/Debug
/Solutrack.Notifications.Api/Solutrack.Notifications.PushNotifications/bin/Debug
/Solutrack.Notifications.Api/Solutrack.Notifications.PushNotifications/obj/Debug
/Solutrack.Notifications.Api/packages/
/Solutrack.Notifications.Api/Solutrack.Notifications.Api.v12.suo
/Solutrack.Notifications.Api/Solutrack.Notifications.ConsoleApp/bin/Debug
/Solutrack.Notifications.Api/Solutrack.Notifications.ConsoleApp/obj/Debug
